
body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    max-width: 1172px;
}

.d-flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.ps-5{
    padding-left: 30px;
}
.ps-10{
    padding-left: 60px;
}
.pe-10{
    padding-right: 60px;
}
.ps-1{
    padding-left: 4px;
}
.pe-1{
    padding-right: 4px;
}
.px-1{
    padding-left: 4px;
    padding-right: 4px;
}
.px-2{
    padding-left: 8px;
    padding-right: 8px;
}
.px-3{
    padding-left: 12px;
    padding-right: 12px;
}
.p-3{
    padding: 12px;
}
.-px-3{
    padding-left: -12px;
    padding-right: -12px;
}

.px-4{
    padding-left: 24px;
    padding-right: 24px;
}

.mb-5{
    margin-bottom: 30px;
}
.my-5{
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-1{
    margin-top: 4px;
    margin-bottom: 4px;
}
.my-0{
    margin-top: 0px;

    margin-bottom: 0px;
}
.w-50{
    max-width: 50%;
}
.w-80{
    width: 80%;
}
.w-60{
    max-width: 60%;
}
.w-40{
    max-width: 40%;
}
.w-100{
    width: 100%;
}
.md-w-33{
    max-width: 33%;
}

.header-card{
    background-color: white;
    border-radius: 25px;
    width: 400px;
}
.header-card-body{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;

}
.card-btn{
    background-color: #1f81e5;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border: 0px;
    width: 100%;
    padding: 15px;
}

/* Font Size */

.fs-80{
    font-size: 80px;
}
.fs-60{
font-size: 60px;
}
.fs-14{
font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
.fs-13{
    font-size: 13px;
    }
.fs-18{
    font-size: 18px;
}
.fs-10{
    font-size: 10px;
}
.fw-bold{
    font-weight: bold;
}
.fw-500{
    font-weight: 500;
}
.fw-300{
    font-weight: 300;
}

/* Font Size END */
.lh-25{
    line-height: 25px;
}
.lh-20{
    line-height: 20px;
}


/* Colors */
.text-white{
    color: white;
}
.bg-white{
    background-color: white;
}
.bg-primary{
    background-color: #142937;
}
.text-primary{
    color: #142937;
}

.text-yellow{
    color: #ffdf00;
}

/* Colors END */


.form-group{ 
    position: relative;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      /* box-shadow: 1px 4px 8px 1px rgba(21,21,21,.2); */
    border: 1px solid rgb(182, 182, 182);
        border-radius: 8px;

  }


  .form-style {
    /* padding: 13px 20px; */
    /* padding-left: 55px; */
    height: 40px;
    width: 90%;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #252525;
     -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    border: none;
     padding-right: 5px;
     border-radius: 8px;

  }



  .form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  }
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
} 
.user-icon::before{
    content: '\f2c0';
    font-size: 16px;   /* Adjust size as needed */
    margin-right: 5px; /* Space after the icon, if needed */
}
.content-between{
    justify-content: space-between;
}

.card{

}
.object-cover{
    object-fit: cover;
}
.card-body{
    padding-top: 10px;
}
.card-img{
    max-height: 170px;
    object-fit: cover;
    object-position: top;
}
.rounded-5{
    border-radius: 5px;
}
.rounded-15{
    border-radius: 15px;
}
.rounded-30{
    border-radius: 30px;
}

.opacity-70{
    opacity: 0.7;
}
.text-center{
text-align: center;
}



.custom-list-img {
    list-style-type: none;      /* Remove default bullets */
    padding-left: 0;            /* Adjust padding as per requirement */
}

.custom-list-img li {
    background: url('../SVGs/check-icon.svg') no-repeat left center;
    padding-left: 50px;        /* Space to fit the image and give space between the image and text */
}

.h-350{
    height: 350px;
}
.h-35{
    height: 35px;
}
.bg-blue{
    background-color: #1f81e5;
}
.text-blue{
   color: #1f81e5;
}
.d-inline-flex{
    display: inline-flex;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.top-50{
    top: 50px;
}
.authorise-badge{
    position: absolute;
    top: 50px;
    left: -125px;
    display: inline-flex;
    border-radius: 30px;
    padding: 8px;
    background-color: #1f81e5;
    color: white;
}
.w-375{
    width: 375px;
}
.flag-badge{
    position: absolute;
    bottom: 50px;
    right: -60px;
    border-radius: 5px;
    
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 18px 24px;
    text-align: center;
    line-height: 20px;
    box-shadow: 8px 7px 7px -2px rgba(0,0,0,0.30);
-webkit-box-shadow: 8px 7px 7px -2px rgba(0,0,0,0.30);
-moz-box-shadow: 8px 7px 7px -2px rgba(0,0,0,0.30);
}
.pt-2{
    padding-top: 12px;
}

.get-started-btn{
    background-color: #1f81e5;
    border: 0;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
}





/* Carousel Css Here */


.carousel-container {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-card {
    flex: 0 0 calc(78% / 3); /* Display three cards at once */
    /* background-color: #f0f0f0; */
    padding: 20px 30px;
    margin: 5px;
    border-radius: 5px;
}

#prevBtn, #nextBtn {
    /* margin-top: 10px; */
    position: absolute;
    z-index: 99;
    color: #000;
    bottom: 70px; 
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    background-color: white;
    box-shadow: 8px 7px 7px -2px rgba(0,0,0,0.30);
-webkit-box-shadow: 8px 7px 7px -2px rgba(0,0,0,0.30);
-moz-box-shadow: 8px 7px 7px -2px rgba(0,0,0,0.30);
cursor: pointer;
}

#prevBtn{
left: -20px;
}
#nextBtn{
right: -20px;
}


/* Carousel Css END  */






/* Thanku Page */


.flx-container {
    width: 90%;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
}

.flx-section-py {
    padding: 100px 0px;
}

/* hero banner */
.flx-hero-banner {
    background-color: #142E3F;
    max-height: 100%;
    height: 400px;
}

.flx-logo {
    /* padding-left: 162px; */
    padding-top: 50px;
   
}

.flx-txtstyle {
    height: 260px;
    display: flex;
    justify-content: center;
}

.flx-txtstyle h1 {
    display: flex;
    align-items: end;
    color: white;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
}

/* about section */
.flx-about {
    padding: 80px 0px 20px 0px;
}

.flx-about-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flx-ice-style {
    padding: 14px;
}

.flx-about-title {
    font-size: 30px;
    line-height: 20px;
}

.flx-about-text {
    font-size: 24px;
    line-height: 32px;
    color: #848B91;
    text-align: center;
}

.flx-guide-pstyle {
   
    color: #838790;
    text-align: center;
}

/* btn style */
.flx-style-btn {
    display: flex;
    justify-content: center;
    padding: 66px;
}

.flx-style-btn button {
    background: #1f81e5;
    padding: 26px 70px 26px 70px;
    border-radius: 35px;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}

/* up-footer */
.flx-up-footer h2 {
    font-size: 40px;
    line-height: 45px;
    width: 70%;
    color: white;
    padding: 0px;
    margin: 0px;
}

.flx-up-footer p {
    width: 95%;
}

#flx-up-footer {
    position: relative;
}

.flx-up-footer {
    display: flex;
    background-color: #1f81e5;
    /* width: 60%; */
    margin: auto;
    /* padding: 100px 40px 72px 40px; */
    border-radius: 20px;
    color: #D2E6F7;
    z-index: 10px;
}
.footer-card{
    /* padding: 100px 40px 72px 70px; */
}

.flx-upfooter-btn button {
    padding: 13px 30px 13px 30px;
    border-radius: 10px;
    border: none;
}

.flx-up-footer1 {
    /* max-width: 60%; */
    padding: 100px 80px;
}

.flx-up-footer2 {
    max-width: 40%;
    /* position: relative; */
}

.flx-up-footer2 img {
    position: absolute;
    bottom: 0;
}

/* footer */
#flx-footer {
    margin-top: -250px;
    background-color: #142E3F;
    /* height: 730px; */
}

.flx-footer-container {
    display: flex;
    justify-content: space-between;
    /* width: 65%; */
    margin: auto;
    height: 350px;
    align-items: end;
    color: white;
}

.column {
    flex: 1;
    padding: 10px;
}

.column h4 {
    margin: 0px;
    font-weight: 600;
}

.column p {
    margin: 4px 0px 0px 0px;
    color: #D6DDE4;
}

.column1 {
    flex: 2;
}

.f-container {
    width: 65%;
    margin: auto;
}

#footer hr {
    border-color: #5C6E7C;
    margin: 40px 0px 40px 0px;
}

.f-container p {
    color: #5C6E7C;
}

.flx-display {
    display: flex;
}

.flx-display a {
    color: #5C6E7C;
}

.flx-link {
    display: flex;
    justify-content: end;
}
a{
    text-decoration: none;
}
.text-justify{
    text-align: justify;
}
.f-links a{
    color :#5C6E7C;
}
.f-links{
    color: #5C6E7C;
}
.menu {
    list-style-type: none; 
}
.menu li{
    padding: 0 10px;
}
.menu li a{
    color: white;
}
#invest_guide{
    padding-top: 70px;
    padding-bottom: 70px;
}
#our_reviews{
    /* padding-top: 70px; */
    padding-bottom: 70px;
}
#footer .content p{
    color: #5C6E7C;
}
#privacy-content h5{
    font-size: 15px;

}
#privacy-content p, li{
    font-size: 15px;
    line-height: 25px;
    color: #142937;
    opacity: 0.8;

}

#terms-content h5{
    font-size: 15px;

}
#terms-content p, li{
    font-size: 15px;
    line-height: 25px;
    color: #142937;
    opacity: 0.8;

}

/* Manipulate Dropdown Icon */

select {
    -webkit-appearance: none; 
    -moz-appearance: none;   
    appearance: none;        
    background-color: #fff;   /* Example background color */
    padding-right: 25px;      /* Space for the new icon */
    position: relative;
  }

  select {
    /* ... (previous styles) ... */
    /* color: red; */
    position: relative;  /* Ensure the select box is relative */
  }
  

  select + span.select-icon {
    float: right;
    margin-right: 5px;
    pointer-events: none; 
    background-color: #fff;
    padding-right: 5px;
    color: rgb(0, 0, 0);
    font-weight: 300;
  }
  

/* Manipulate Dropdown Icon End */
